<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sandboxol.game">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:supportsRtl="true">

        <activity
            android:name="com.sandboxol.blockmango.EchoesActivity"
            android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:hardwareAccelerated="true"
            android:installLocation="preferExternal"
            android:process="com.sandboxol.blockymods.BlockmanGo"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/mcTheme"/>

        <activity
            android:name="com.sandboxol.blocky.activity.StartMcActivity"
            android:process="com.sandboxol.blockymods.BlockmanGo"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/startMcTheme"/>
    </application>

</manifest>
