<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blockveil Email Binding</title>
</head>
<body>
  <h1>Hi <%= nickname %>!</h1>
  <p>Enter this one-time code to your application and bind your email address.</p>
  <p>Your verification code is: <b><%= code %></b></p>
  <p>Sincerely, Blockveil</p>
</body>
</html>