{%- extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>服务</th>
                <th>端口</th>
                <th>管理端口</th>
                <th>运行数量</th>
                <th>状态</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for s in services %}
            <tr>
                <td><strong>{{s.name}}</strong></td>
                <td>{{s.serverPort}}</td>
                <td>{{s.metricsPort}}</td>
                <td>{{s.count}}</td>
                <td>
                    {% if s.get('unhealthCount', 0) > 0 %}
                    <strong class="text-danger">Unhealth({{s.unhealthCount}})</strong>
                    {% else %}
                    <strong class="text-success">Health({{s.healthCount}})</strong>
                    {% endif %}
                </td>
                <td>
                    <a href="#" data-toggle="collapse" aria-expanded="{{'true' if s.unhealthCount > 0 else 'false'}}" data-target="#{{s.id | replace(':', '_')}}"
                        aria-controls="{{s.id | replace(':', '_')}}">展开服务详情</a>
                    <span>|</span>
                    <a href="#" onclick="restartService('{{s.name}}')">更新</a>
                </td>
            </tr>
            {% if s.instances %}
            <tr id="{{s.id | replace(':', '_')}}" class="collapse {{'in' if s.unhealthCount > 0 else ''}}" aria-expanded="{{'true' if s.unhealthCount > 0 else 'false'}}">
                <td colspan="6" style="border-top: none">
                    <table class="table table-sm table-borderless" style="margin-bottom: 0px">
                        <tbody>
                            {% for i in s.instances %}
                            <tr class="{{'bg-danger' if i.serviceStatus != 'health' else ''}}">
                                <td>{{i.instanceId}}</td>
                                <td>{{i.privateIp}}</td>
                                <td>{{i.serviceStatus}}</td>
                                <td>
                                    {% if i.serviceStatus == 'unhealth' %}
                                    <a href="#" onclick="restartService('{{i.serviceName}}', '{{i.privateIp}}')">Restart</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if i.logFilepath %}
                                    <a href="tasks/log?logger_path={{i.logFilepath}}">log</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{%- endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/index.js') }}" async defer></script>
{% endblock %}