[program:{{ service }}]
command=/usr/bin/java -jar -Xms{{ jvm_min_heap_memory}}m -Xmx{{ jvm_max_heap_memory }}m -Xss256k -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/home/deploy/{{ service }}.hprof -Dfile.encoding=UTF-8 -Dspring.profiles.active={{ profile_name }} /home/deploy/apps/{{ service }}-0.0.1-SNAPSHOT.jar
user=deploy
autostart=true
autorestart=true
startsecs=10
startretries=5
stdout_logfile=/home/deploy/logs/supervisor/{{ service }}.log
stderr_logfile=/home/deploy/logs/supervisor/{{ service }}-error.log
stdout_logfile_maxbytes=536870912 
stdout_logfile_backups=10
stderr_logfile_maxbytes=536870912
stderr_logfile_backups=10
stopsignal=TERM
stopwaitsecs=100